<!DOCTYPE html>
<html>
<head>
	<%- include ("../partials/header.ejs")%>
</head>

<body>
<form action="/login" method="get"  class="contentWrapper">
<label for="name">Registration successful. Press button below to redirect to login page.</label>
<input type="submit" value="Go to Login" onfocus="onclick">
</form>
</body>
</html>